@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

/* Base */
$base-size: 12px;

/* Colors */
$color-main: #0749c4;
$color-text-dark: #222f3e;
$color-text-light: #f1f2f6;
$color-background-light: #c7ecee;
$color-background-dark: #130f40;
$color-button: #0749c4;
$color-button-hover: #0059ff;
$color-button-second: #ffffff;
$color-button-hover-second: #f5b801;
$color-success: #009432;
$color-danger: #ff3838;

/* Fonts */
$font-header: 'Montserrat Alternates', sans-serif;
$font-text: 'Nunito', sans-serif;

/* Transition */
$transition: all 0.3s;
