@import '../../../styles/settings.scss';

.root {
  .toolbar {
    justify-content: space-between;
    background-color: $color-main;

    .logo {
      color: inherit;
      text-decoration: none;
    }

    .buttons {
      margin-left: 10px;
    }

    .icon {
      margin-left: $base-size;
    }
  }
}
