@import '../../../styles/settings.scss';

.root {
  .content {
    margin: 96px auto;
    max-width: 500px;
    text-align: center;

    .button {
      margin-top: 24px;
      background-color: $color-main;
      color: $color-text-light;
    }
  }
}

@media (max-width: 576px) {
  .root {
    .header {
      font-size: 36px;
      margin: 108px auto 12px auto;
    }
  }
}
