@import '../../../styles/settings.scss';

.root {
  .content {
    margin: 96px auto;
    max-width: 500px;
    text-align: center;

    .button {
      margin-top: 24px;
      background-color: $color-main;
      color: $color-text-light;
    }
  }
}
